.settings-main{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#nav {
    width: 400px;
    background: #f8f8f8;
    float: left;
    position: fixed;
}

#nav a {
    height: 80%;
    text-align: center;
    padding: 10px 8px 10px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#nav a:hover {
    background-color: #acbec9;
    color: white;
}

#content {
    margin-left: 500px;
    width: 65%;
    background: #f8f8f8;
    float: left;
}


#content h2 {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.info{
    margin-bottom: 200px;
    margin-top: 100px;
}
.profileInfo{
    padding: 6px 10px 6px 10px;
}

.profileInfo h4{
    margin-left: 10%;
    margin-right: 30px;
    width: 16%;
    padding: 10px 6px 10px 0;
    float: left;
    text-align: right;
}

.editBtn {
    border: 2px solid #cfcfd1;
    border-radius: 6px;
    color: black;
    background-color: #cfcfd1;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    float: right;
    margin-right: 40px;
}

.editBtn:hover {
    color: white;
    background-color: #64646b;
    border: 2px solid #64646b;
}

#name{
    padding: 10px 6px 10px 0;
}
#birthDate{
    padding: 10px 6px 10px 0;
}
#gender{
    padding: 10px 6px 10px 0;
}
#phone{
    padding: 10px 6px 10px 0;
}

.address{
    margin-left: 10%;
    margin-top: 30px;
    background: #c6c6c6;
    width: 500px;
    height: 100px;
}

.address h4{
    margin-left: 0;
}

.address h5{
    margin-right: 30px;
    padding: 10px 6px 10px 0;
    float: left;
    text-align: left;
}

.addName{
    margin-left: 10%;
    margin-right: 30px;
    padding: 10px 6px 10px 0;
    float: left;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.addPhone{
    margin-right: 30px;
    padding: 10px 6px 10px 0;
    font-size: 20px;
    text-align: center;
}

.addDetail{
    padding: 10px 6px 10px 0;
    margin-left: 10%;
}

.payment{
    margin-left: 10%;
    margin-top: 30px;
    background: #c6c6c6;
    width: 500px;
    height: 100px;
}

.payment h3{
    margin-left: 20%;
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 6px 10px 0;
    float: left;
    text-align: left;
}

.cardNo{
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 6px 10px 0;
    float: left;
    text-align: left;
}

.password h4{
    margin-left: 10%;
    margin-right: 30px;
    width: 16%;
    padding: 10px 6px 10px 0;
    float: left;
    text-align: right;
}
.passwordField{
    padding: 10px 6px 10px 0;
}

#newFeedback{
    margin-left: 10%;
    margin-right: auto;
    font-size:20px;
    font-weight: bold;
}